### Import libraries and data

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [60]:
confirmed_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
deaths_df = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')
confirmed_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22,1/18/22,1/19/22,1/20/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,158471,158511,158602,158639,158678,158717,158826,158974,159070,159303
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,222664,224569,226598,228777,230940,232637,233654,236486,239129,241512
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,223196,223806,224383,224979,225484,226057,226749,227559,228918,230470
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,28542,28899,28899,29888,29888,29888,29888,29888,29888,32201
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,91148,91907,92581,93302,93524,93694,93974,94275,94779,95220

In [61]:
deaths_df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22,1/18/22,1/19/22,1/20/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7374,7376,7376,7376,7378,7379,7381,7383,7386,7386
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3247,3253,3255,3262,3265,3269,3271,3277,3283,3286
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6363,6372,6383,6393,6404,6412,6423,6435,6443,6453
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,141,141,141,142,142,142,142,142,142,144
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1840,1842,1847,1852,1857,1863,1866,1870,1877,1881

In [62]:
# Filter for Canada data
confirmed_canada_df = confirmed_df.loc[confirmed_df['Country/Region']=='Canada'].reset_index(drop=True)
confirmed_canada_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22,1/18/22,1/19/22,1/20/22
0,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,417533,424322,430332,436495,436495,436495,452381,455660,459497,463024
1,British Columbia,Canada,53.7267,-127.6476,0,0,0,0,0,0,...,286080,288692,291246,293521,293521,293521,299146,301178,303565,305715
2,Diamond Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Grand Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
4,Manitoba,Canada,53.7609,-98.8139,0,0,0,0,0,0,...,103935,105406,106627,107838,107838,107838,110593,111432,112346,113196
5,New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,...,20890,21249,21553,21979,22388,22768,23173,23503,24001,24489
6,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,10201,10931,11617,12092,12092,12092,13032,13327,13838,14198
7,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,3322,3467,3587,3741,3741,3741,4055,4234,4372,4508
8,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,26741,27357,28194,28736,28736,28736,30950,31445,31860,32387
9,Nunavut,Canada,70.2998,-83.1076,0,0,0,0,0,0,...,1033,1036,1048,1055,1055,1055,1195,1222,1242,1242
10,Ontario,Canada,51.2538,-85.3232,0,0,0,0,1,1,...,908943,921456,931843,942800,949846,956972,971033,971033,971033,971033
11,Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,...,2893,3427,3427,3861,3861,3861,4401,4401,5112,5112
12,Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,...,749865,758575,766926,783101,789806,795752,801152,806295,812418,818946
13,Repatriated Travellers,Canada,NaN,NaN,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,13
14,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,94080,95174,96125,97545,98699,100173,101537,102641,103901,105072
15,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,2322,2515,2571,2638,2638,2638,2638,2747,2782,2820

In [103]:
deaths_canada_df = deaths_df.loc[deaths_df['Country/Region']=='Canada'].reset_index(drop=True)
deaths_canada_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22,1/18/22,1/19/22,1/20/22
0,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,3352,3367,3375,3380,3380,3380,3403,3412,3413,3421
1,British Columbia,Canada,53.7267,-127.6476,0,0,0,0,0,0,...,2449,2455,2462,2468,2468,2468,2490,2492,2505,2520
2,Diamond Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3,Grand Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Manitoba,Canada,53.7609,-98.8139,0,0,0,0,0,0,...,1426,1429,1438,1443,1443,1443,1463,1466,1478,1485
5,New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,...,173,174,178,182,183,187,189,192,196,199
6,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,23,23,23,24,24,24,26,28,28,30
7,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,12,12,12,12,12,12,13,13,13,13
8,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,114,115,117,117,117,117,117,121,122,124
9,Nunavut,Canada,70.2998,-83.1076,0,0,0,0,0,0,...,4,4,4,4,4,4,4,5,5,5
10,Ontario,Canada,51.2538,-85.3232,0,0,0,0,0,0,...,10459,10511,10548,10600,10622,10650,10702,10702,10702,10702
11,Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,...,0,0,0,2,2,2,2,2,2,3
12,Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,...,12028,12080,12125,12193,12289,12310,12364,12453,12541,12639
13,Repatriated Travellers,Canada,NaN,NaN,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,961,961,961,961,961,961,961,961,961,961
15,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,15,15

In [64]:
confirmed_canada_df.shape, deaths_canada_df.shape

((16, 734), (16, 734))

In [172]:
confirmed_canada_df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
1/16/22             int64
1/17/22             int64
1/18/22             int64
1/19/22             int64
1/20/22             int64
Length: 734, dtype: object

In [173]:
deaths_canada_df.dtypes

Province/State     object
Country/Region     object
Lat               float64
Long              float64
1/22/20             int64
                   ...
1/16/22             int64
1/17/22             int64
1/18/22             int64
1/19/22             int64
1/20/22             int64
Length: 734, dtype: object

In [186]:
# Check for null values
confirmed_canada_df.isna().sum()>0

Province/State    False
Country/Region    False
Lat                True
Long               True
1/22/20           False
                  ...
1/16/22           False
1/17/22           False
1/18/22           False
1/19/22           False
1/20/22           False
Length: 734, dtype: bool

In [187]:
confirmed_canada_df.columns[confirmed_canada_df.isna().sum()>0]

Index(['Lat', 'Long'], dtype='object')

In [188]:
deaths_canada_df.columns[deaths_canada_df.isna().sum()>0]

Index(['Lat', 'Long'], dtype='object')

Only `Latitude` and `Longitude` columns for Repatriated Travellers have null values. This row is not a province and it will automatically get eliminated when we filter for top provinces based on death. Hence no futher processing needed.

In [138]:
# old
def calculate_values(confirmed_df):
        
    # Remove unnecessary columns
    confirmed_df = confirmed_df.iloc[:, 4:]
    
    # convert wide data into long
    confirmed_df = confirmed_df.melt(var_name='Date', value_name='num_cases')
    
    # Convert to date type and set as index
    confirmed_df['Date'] = pd.to_datetime(confirmed_df['Date'])
    confirmed_df.set_index('Date', inplace=True)
    
    # Compute daily new cases
    confirmed_df['daily_new_cases'] = confirmed_df['num_cases'].diff()
    confirmed_df.iloc[0, 1] = confirmed_df.iloc[0, 0] # replace nan in first row
    
    # weekly moving average
    confirmed_df['new_cases_ma_7'] = confirmed_df.daily_new_cases.rolling(7, min_periods=1).mean()
    
    # monthly moving average
    confirmed_df['new_cases_ma_30'] = confirmed_df.daily_new_cases.rolling(30, min_periods=1).mean()
    
    # Exponential weighted moving average
    confirmed_df['new_cases_ewm'] = confirmed_df.daily_new_cases.ewm(alpha=0.3, adjust=False).mean()
    
    return confirmed_df

In [192]:
def calculate_features(df, df_type):
        
    # Remove unnecessary columns
    df = df.iloc[:, 4:]
    
    # convert wide data into long
    value_col_name = 'num_'+ df_type
    df = df.melt(var_name='Date', value_name=value_col_name)
    
    # Convert to date type and set as index
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    
    # Compute daily new cases
    daily_col = 'daily_' + df_type
    df[daily_col] = df[value_col_name].diff()
    df.iloc[0, 1] = df.iloc[0, 0] # replace nan in first row
    
    # weekly moving average
    col_name = df_type + '_ma_7'
    df[col_name] = df[daily_col].rolling(7, min_periods=1).mean()
    
    # monthly moving average
    col_name = df_type + '_ma_30'
    df[col_name] = df[daily_col].rolling(30, min_periods=1).mean()
    
    # Exponential weighted moving average
    col_name = df_type + '_ewm'
    df[col_name] = df[daily_col].ewm(alpha=0.3, adjust=False).mean()
    
    return df

In [193]:
# Top 10 provinces based on number of deaths
deaths_top_df = deaths_canada_df.sort_values(by=deaths_canada_df.columns[-1], ascending=False)[:10]
deaths_top_df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22,1/16/22,1/17/22,1/18/22,1/19/22,1/20/22
12,Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,...,12028,12080,12125,12193,12289,12310,12364,12453,12541,12639
10,Ontario,Canada,51.2538,-85.3232,0,0,0,0,0,0,...,10459,10511,10548,10600,10622,10650,10702,10702,10702,10702
0,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,3352,3367,3375,3380,3380,3380,3403,3412,3413,3421
1,British Columbia,Canada,53.7267,-127.6476,0,0,0,0,0,0,...,2449,2455,2462,2468,2468,2468,2490,2492,2505,2520
4,Manitoba,Canada,53.7609,-98.8139,0,0,0,0,0,0,...,1426,1429,1438,1443,1443,1443,1463,1466,1478,1485
14,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,961,961,961,961,961,961,961,961,961,961
5,New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,...,173,174,178,182,183,187,189,192,196,199
8,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,114,115,117,117,117,117,117,121,122,124
6,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,23,23,23,24,24,24,26,28,28,30
15,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,15,15

In [206]:
deaths_top_df.iloc[:, [0, -1]].to_csv('../data/processed/top_provinces.csv', index=False)

In [200]:

for province in deaths_top_df['Province/State']:
    
    # Extract confirmed cases for the specific province
    province_confirmed_df = confirmed_canada_df.loc[confirmed_canada_df['Province/State']==province]

    # Feature engineering
    summary_confirmed = calculate_features(province_confirmed_df, "new_cases")
    
    # Extract death info for the specific province
    province_deaths_df = deaths_canada_df.loc[confirmed_canada_df['Province/State']==province]
    
    # Feature engineering
    summary_deaths = calculate_features(province_deaths_df, "deaths")
    
    # Combine confirmed cases df and deaths df
    province_combined = summary_confirmed.join(summary_deaths)
    
    # perform necessary data cleaning
    province_combined.loc[province_combined['daily_new_cases']<0, 'daily_new_cases'] = 0
    province_combined.loc[province_combined['daily_deaths']<0, 'daily_deaths'] = 0
    
    # calculate mortality rate
    province_combined['mortality_rate'] = province_combined['daily_deaths'] / province_combined['daily_new_cases']
    province_combined['mortality_rate'].fillna(value=0, inplace=True)
    
    province_combined['province'] = province
    # Write province combined df into csv file
    file_name = province + '_combined.csv'
    province_combined.to_csv('../data/processed/' + file_name)

### A sample wrangled data frame for province British Columbia

In [203]:
bc_df = pd.read_csv('../data/processed/British Columbia_combined.csv', parse_dates=['Date'], index_col='Date')
bc_df.tail()

,num_new_cases,daily_new_cases,new_cases_ma_7,new_cases_ma_30,new_cases_ewm,num_deaths,daily_deaths,deaths_ma_7,deaths_ma_30,deaths_ewm,mortality_rate,province
Date,,,,,,,,,,,,
2022-01-16,293521,0.0,2378.000000,2257.866667,1293.988351,2468,0.0,4.142857,2.300000,2.590714,0.000000,British Columbia
2022-01-17,299146,5625.0,2186.428571,2445.366667,2593.291845,2490,22.0,6.285714,3.033333,8.413500,0.003911,British Columbia
2022-01-18,301178,2032.0,2156.857143,2513.100000,2424.904292,2492,2.0,6.142857,3.100000,6.489450,0.000984,British Columbia
2022-01-19,303565,2387.0,2124.714286,2507.666667,2413.533004,2505,13.0,7.142857,3.433333,8.442615,0.005446,British Columbia
2022-01-20,305715,2150.0,2067.000000,2535.733333,2334.473103,2520,15.0,8.285714,3.900000,10.409830,0.006977,British Columbia

### Summary
* Covid confirmed cases and death data for Canada is filted out and stored.
* Null values are present only for  Repatriated Travellers. This row will eventually get eliminated when we filter for top 10 provinces based on number of deaths. So no treatment of null values needed.

**Feature Engineering**
* For each province, a separate data frame is created and wide data frame is melted into long data frame to form time series data. Then the following features are extracted.
    * Number of daily deaths and confirmed cases
    * 7 day and 30 day moving average of confirmed cases and deaths
    * To filter out noise and to identify trends, exponential weighted moving average is calculated for confirmed cases and deaths.
    * Moratality rate is calculated as ratio of number of deaths to number of confirmed cases
    * Few errors in number of cases and deaths reported (present day number lower than previous day number) led to negative values for number of new cases. These are replaced with zero as number of new cases/deaths for that day.
    * The time series data created is written as csv file for further EDA and creation of dashboard in Tableau.